<ion-view style="" title="About">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h1 style="">About...</h1>
        <div style="" class="list card">
            <div class="item item-divider">Purpose</div>
            <div class="item item-body">
                <div style="">
                    <p>The app gives you the tools needed to have complete control over your expences, regarding the most common consumables like:</p>
                </div>
                <ion-list style="">
                    <ion-item style="">Electricity</ion-item>
                    <ion-item style="">Heating (like gas or water)</ion-item>
                    <ion-item style="">Water</ion-item>
                    <ion-item style="">Among others...</ion-item>
                </ion-list>
                <div style="">
                    <p>When you add to the stats each month, you get a brilliant overview of the expences and will be able to anticipate expences and spot use that exeeds the normal levels, and hence, take appropriate action.</p>
                </div>
            </div>
        </div>
        <div style="width: 283px; height: 14px;" class="spacer"></div>
        <div style="" class="list card">
            <div class="item item-divider">Version</div>
            <div class="item item-body">
                <div style="">
                    <p>Current version is:
                        <strong>beta 0.0.1.5</strong>
                    </p>
                </div>
            </div>
        </div>
        <h3 style="">Improvements?</h3>
        <div style="">
            <p>If you have any suggestions, please let me know by sending an email</p>
        </div>
        
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>        

        
    </ion-content>
</ion-view>