<ion-view ng-controller="addEntryCtrl" style="" title="Add entry">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        
        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">
                <button ng-click="openModal()" class="button button-block button-outline button-positive">
                  Add Electrity entry
                </button>
          </div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>        

    </ion-content>

      <script id="electricity-modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar>
              <h1 class="title">Add new entry</h1>
            </ion-header-bar>
            <ion-content>
              <div style="" class="list card">
                    
                    <div class="item item-body">
                        <form ng-submit="electrityForm.submit()" style="" class="list">

                            <label class="item item-input">
                              <span class="input-label">Month</span>
                              <input type="month" id="month" ng-model="electrityForm.month" required>
                            </label>
                            
                            <label class="item item-input">
                              <span class="input-label">Kwh</span>
                              <input type="double" id="kwh" ng-model="electrityForm.kwh" required>
                            </label>

                            <input type="submit" class="button button-block button-outline button-positive" value="Save">
                        </form>
                    </div>
                </div>
            </ion-content>
          </ion-modal-view>
        </script>
</ion-view>