<ion-view ng-controller="addEntryCtrl" style="" title="Add entry">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        
        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">
                <button ng-click="openModal()" class="button button-block button-outline button-positive">
                  Add Electrity entry
                </button>
          </div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>        

    </ion-content>

      <script id="electricity-modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar>
              <div class="bar bar-header">
                  <button class="button icon ion-ios-arrow-back"> Back </button>
                  <div class="h1 title" ng-model="electrityForm.modalTitle">{{modalTitle}}</div>
                  <button ng-click="electrityForm.close()" class="button button-assertive icon ion-close-circled"></button>
              </div>
            </ion-header-bar>
            <ion-content>
              <div class="list card">
                    <div class="item item-body">
                        <form ng-submit="electrityForm.submit()" style="" class="pristine">

                            <label class="item item-input">
                              <span class="input-label">Month</span>
                              <input type="month" id="month" ng-model="electrityForm.month" required>
                            </label>
                            
                            <label class="item item-input">
                              <span class="input-label">Kwh</span>
                              <input type="double" id="kwh" ng-model="electrityForm.kwh" required>
                            </label>

                            <label class="item item-input">
                              <span class="input-label">Price</span>
                              <input type="double" id="price" ng-model="electrityForm.price" required>
                            </label>
                          <div class="button-bar">
                            <input type="submit" class="button button-outline button-positive" value="Save">
                            <input type="button" ng-click="electrityForm.reset()" class="button button-outline button-energized" value="Reset">
                          </div>
                        </form>
                    </div>
                </div>
            </ion-content>
          </ion-modal-view>
        </script>
</ion-view>