<ion-view style="" title="">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <h1 style="">Resource Control</h1>
        <div style="">
            <p class="pull-right">
                - stay atop your consumables
            </p>
        </div>
        <div style="width: 283px; height: 26px;" class="spacer"></div>
        <div style="text-align: center;">
            <img src="img/xBLCbZAaQ7aLDywjQAqD_stats.png" width="100%" height="auto">
        </div>
        <form style="" class="list">
            <ion-list style=""></ion-list>
            <div style="width: 283px; height: 55px;" class="spacer"></div>
            <a style="" class="button button-stable button-block " ui-sref="menu.main">Start</a>
        </form>
    </ion-content>
</ion-view>