<ion-view ng-controller="totalsCtrl" style="" title="Totals">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        
        <div class="row">
          <div class="button-bar positive">
            <a class="item active item-icon-left">{{ electricButton }}
                <i class="icon ion-flash"></i>
            </a>
            <a class="item item-icon-left">Water
                <i class="icon ion-waterdrop"></i>
            </a>
            <a class="item item-icon-left">Heat
                <i class="icon ion-android-sunny"></i>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col">
                <div id="chart_electicity" style="width: {{ chartWidth }}px; height: {{ chartHeight }}px;"></div>
          </div>
        </div>

        <div class="row">
          <div class="item card">
            <div class="item item-body">
                <b>Hint:</b> Press the legend color/name besides the chart to fade the other values
            </div>
          </div>
        </div> 

         

    </ion-content>
</ion-view>
