<ion-view ng-controller="totalsCtrl" class="bar bar-header has-tabs-top bar-positive" title="Chart room">
    <ion-content class="no-header" overflow-scroll="true" padding="true">
        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" href="#">
                    <i class="icon ion-flash"></i>
                    {{ electricButton }}
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-waterdrop"></i>
                    Water
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-sunny"></i>
                    Heat
                </a>
            </div>
        </div>

        <div class="row">
          <div class="col">
                <div id="chart_electicity" style="width: {{ chartWidth }}px; height: {{ chartHeight }}px;"></div>
          </div>
        </div>

        <div class="row">
          <div class="item card">
            <div class="item item-body">
              The chart visualizes the comparison of the resources spend over a timespan of 3 years. 
              Click above to change the data of the chart, and click below to see the expences used on these resources - should you dear...
            </div>
          </div>
        </div> 

        <div style="margin-bottom:50px" class="row">
          <button  class="button button-positive button-block button-outline ">
          <i class="icon ion-cash"></i>
            </button>
        </div>       

    </ion-content>
</ion-view>
