<ion-view style="" title="Totals">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
		        
        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>

        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>        

    </ion-content>
</ion-view>